@import 'tailwind.css';
@import 'transition.css';
@import 'buttons.css';

/* Remove arrows in number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.invisible-input {
  @apply rounded-sm;
}

.invisible-input:hover {
  @apply bg-gray-300;
}

.invisible-input:focus {
  @apply bg-white;
}
